header {
    height: 100%;
}

body {
    font-family: "Kaushan Script", cursive;
    margin: 0;
}

#banner {
    min-height: calc(100vh - 76px);
    background: linear-gradient(rgb(249, 228, 148), rgb(249, 228, 148)), url("../images/headerBcg.jpeg") center fixed no-repeat;
}

.top-toolbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
}

.basket-preview {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    color: black;
    margin-right: 2em;
    /*flex-grow: 0;*/
}

header a {
    text-decoration: none;
}

.basket-preview:hover {
    background-color: #ef7998;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.top-toolbar nav {
    flex-grow: 1;
    align-self: center;
}


.phone-contact,
.basket-preview {
    display: inline;
    margin-right: 2em;
}

.phone-icon {
    vertical-align: middle;
}

nav {
    text-align: center;
}

nav a {
    font-size: 1.5rem;
    color: #ef7998;
    transition: all 0.5s ease-in-out;
    padding: 8px;
}

nav ul {
    display: inline;
}

nav a:hover {
    color: black;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}