h1 {
    font-size: 2rem;
}

.explore-btn {
    border: 2px solid black;
    border-radius: 5px;
    max-width: fit-content;
    font-size: 1.5em;
    color: black;
    padding: 5px 10px;
    display: inline-block;
}

.explore-btn:hover {
    color: #ef7998;
    background-color: black;
}

.welcome-heading {
    text-align: center;
}

.welcome-heading h1 {
    color: white;
}

.heading-strong {
    font-size: 1.8em;
    color: #ef7998;
}


header {
    height: 100%;
}

body {
    font-family: "Kaushan Script", cursive;
    margin: 0;
}

.banner {
    min-height: calc(100vh - 55px);
    background: linear-gradient(rgb(249, 228, 148, 0.5), rgb(249, 228, 148, 0.5)),
                url("../images/headerBcg.jpeg") center/cover fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-toolbar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.cart-outer-box {
    position: absolute;
    width: 250px;
    top: calc(100% + 0.5rem);
    right: -0.5rem;
    border: 1px solid black;
    background-color: yellow;
}

.cart-inner-box {
    width: 90%;
    margin: auto;
}

.cart-items {
}

.cart-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-total {
    display: flex;
    justify-content: space-evenly;
}

.cart-btns {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
}

.basket-preview {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    color: black;
    margin-right: 2em;
}

header a {
    text-decoration: none;
}

.basket-preview:hover {
    background-color: #ef7998;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.top-toolbar nav {
    flex-grow: 1;
    align-self: center;
}


.phone-contact,
.basket-preview {
    display: inline;
    margin-right: 2em;
}

.phone-icon {
    vertical-align: middle;
}

nav {
    text-align: center;
}

nav a {
    font-size: 1.5rem;
    color: #ef7998;
    transition: all 0.5s ease-in-out;
    padding: 8px;
}

nav ul {
    display: inline;
}

nav a:hover {
    color: black;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.about-us-sec {
    display: flex;
    justify-content: center;
    align-content: center;
}

.about-us-row {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 1140px;
    display: flex;
}

.about-us-heading {
    flex: 0 0 50%;
}

.about-us-heading a {
    text-decoration: none;
}

.about-us-heading p {
    width: 75%;
    color: gray;
}

.cookies-img {
    max-width: 100%;
}

.cookies-img-box {
    position: relative;
    font-size: 0;
    height: max-content;
}

.cookies-img-box::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 10px solid #ef7998;
    top: -1.7rem;
    left: -1.7rem;
    transition: all 1s ease-in-out;
}

.cookies-img-box:hover::before {
    top: 0;
    left: 0;
}

.store-sec {
    width: 100%;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.store-sec-container {
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid black;*/
}

.store-sec-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-btn-row {
    width: 60%;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.filter-btn-row a {
    text-decoration: none;
}

.filter-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    max-width: fit-content;
    margin-left: 1rem;
}

.filter-btn:hover {
    color: #ef7998;
    background-color: black;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid grey;
}
.search-bar label {
    display: none;
}

.icon-box {
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-color: #ef7998;
    background-image: url("../images/glass.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: 0;
}

.icon-box img {
    width: 100%;
}

#search-input {
    height: 100%;
    box-sizing: border-box;
    border: 0;
    width: 100%;
    font-family: "Kaushan Script", cursive;
    font-size: 1rem;
}

.store-items {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.shopping-item {
    flex: 0 0 calc(33% - 2rem);
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1rem;
}

.shopping-item-img {
    width: 100%;
    font-size: 0;
    overflow: hidden;
    position: relative;
}

.shopping-item-img img {
    width: inherit;
    object-fit: cover;
    transition: transform .5s ease;
}

.shopping-item-img:hover img {
    transform: scale(1.5);
}

.shopping-item-img:hover::before {
    right: 0;
    bottom: 0;
}

.shopping-item-img::before {
    width: 40px;
    height: 40px;
    background-image: url("../images/basket.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ef7998;
    background-size: 50%;
    border-top-left-radius: 35%;
    position: absolute;
    /*content: url("../images/basket.svg");*/
    content: "";
    display: block;
    right: -40px;
    bottom: -40px;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.shopping-item-price-tag {
    width: inherit;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.shopping-item-price-tag span {
    padding: 15px;
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
}

